<button type="button" ng-click="model.newPost()">Post New Ad</button>
<div ng-repeat="post in model.posts">
  <div class="row">
    <h1>{{post.title}}</h1>
    <h4>Price: {{post.price}}</h4>
    <h5>Description:</h5>
    <p>{{post.description}}</p>
    <img ng-src="{{post.item_image}}" alt="item-image">
  </div>
  <button type="button" name="delete_post" ng-click="model.deleteAd(post.id)">Delete Ad</button>
  <button type="button" name="edit_post" ng-click="model.updateAd(post)">Update Ad</button>
  <hr>
</div>
