<h1> Classifieds: </h1>

<section ng-repeat = "newPost in model.classifieds">
  <h3>Title: {{newPost.title}} </h3>
  <a ui-sref = "updatePost({id: post.id})">{{newPost.description}}</a>
  <p>Price: {{newPost.price | currency}}</p>
  <img ng-src ="{{newPost.item_image}}">
  <br>
</section>

 <h3>New Post Form:</h3>
 <div class="row">
   <section>
   <form class="" action="index.html" method="post">

     <div>
       <label for="title">Title</label>
       <input type="text" name="title" value="" ng-model="model.newPost.title">
     </div>

     <div>
       <label for="description">Description</label>
       <input type="text" name="description" value="" ng-model="model.newPost.description">
     </div>

     <div>
       <label for="price">Price</label>
       <input type="text" name="price" value="" ng-model="model.newPost.price">
     </div>

     <div>
       <label for="item_image">Item Image</label>
       <input type="text" name="item_image" value="" ng-model="model.newPost.item_image">
     </div>

    <div>
       <button type="button" name="button" ng-click="model.addNewPost()">Submit Post</button>
     </div>
   </form>
 </section>

 </div>



<h1>hi {{2+2}}</h1>
